body {

    margin-top: 6em;
    background: linear-gradient(270deg, #121212, #1e0404, #13031e, #121212);
    background-size: 200% 200%;

    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
@keyframes AnimationName {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}

section {
    margin-bottom: 6em;
}

a:focus, span:focus, button:focus {
    outline: none;
}

.dark-shadow {
    box-shadow: 7px 8px 29px 0 rgba(0, 0, 0, 1);
}

#root {
    overflow-x: hidden;
    -ms-overflow-y: hidden;
}

#navbar-bg {
    background: rgba(33, 33, 41, 0.45);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 7px 3px 7px 4px rgb(0 0 0 / 50%);
    border-radius: 3rem;
    margin: 0.75rem;
}

@media (min-width: 992px) {
    #navbar-bg a:hover {
        transform: scale(1.02);
        transition: .2s ease-in;
    }
}

#particle-bg {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-size: contain;
}

#bottom-frame {
    background-image: url("images/city-line.png");
    height: 7em;
    width: 100%;
    background-size: contain;
}

#intro-head {
    background-image: url("../public/trophy.png");
    height: 65px;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(10%, 15%);
}

.dark-bg {
    border-radius: 1.2rem;
    border: 1px solid rgba(48, 47, 47, 0.41);
    background-color: rgba(33, 33, 33, 0.3);
    box-shadow: rgb(0 0 0 / 50%) 6px 4px 9px 3px;
}

.blur-background {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.rounded-all {
    border-radius: 1.2em;
}

.rounded-top {
    border-top-left-radius: 1.2rem !important;
    border-top-right-radius: 1.2rem !important;
}

.gradient-text-1 {
    background: #16BFFD; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CB3066, #16BFFD); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CB3066, #16BFFD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-2 {
    background: #EECDA3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EF629F, #EECDA3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-3 {
    background: #FF8008; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC837, #FF8008); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-4 {
    background: #1FA2FF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-5 {
    background: #ef32d9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89fffd, #ef32d9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89fffd, #ef32d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.quote-text {
    font-family: 'The Girl Next Door', cursive;
}

.hr {
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    margin-bottom: 0;
    margin-top: 1em;
    padding: .5em 0;
}

.hr:after, .hr:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 50%;
    left: 0;
}

.blue:before {
    background: linear-gradient(90deg, #3D8295 0%, #3D8295 50%, transparent 50%, transparent 100%);
}

.blue.anim:before {
    background: linear-gradient(90deg, #3D8295 0%, #3D8295 5%, transparent 5%, transparent 10%, #3D8295 10%, #3D8295 15%, transparent 15%, transparent 20%, #3D8295 20%, #3D8295 25%, transparent 25%, transparent 30%, #3D8295 30%, #3D8295 35%, transparent 35%, transparent 40%, #3D8295 40%, #3D8295 45%, transparent 45%, transparent 50%, #3D8295 50%, #3D8295 55%, transparent 55%, transparent 60%, #3D8295 60%, #3D8295 65%, transparent 65%, transparent 70%, #3D8295 70%, #3D8295 75%, transparent 75%, transparent 80%, #3D8295 80%, #3D8295 85%, transparent 85%, transparent 90%, #3D8295 90%, #3D8295 95%, transparent 95%, transparent 100%);
}

.green:before {
    background: linear-gradient(90deg, #50A385 0%, #50A385 50%, transparent 50%, transparent 100%);
}

.green.anim:before {
    background: linear-gradient(90deg, #50A385 0%, #50A385 5%, transparent 5%, transparent 10%, #50A385 10%, #50A385 15%, transparent 15%, transparent 20%, #50A385 20%, #50A385 25%, transparent 25%, transparent 30%, #50A385 30%, #50A385 35%, transparent 35%, transparent 40%, #50A385 40%, #50A385 45%, transparent 45%, transparent 50%, #50A385 50%, #50A385 55%, transparent 55%, transparent 60%, #50A385 60%, #50A385 65%, transparent 65%, transparent 70%, #50A385 70%, #50A385 75%, transparent 75%, transparent 80%, #50A385 80%, #50A385 85%, transparent 85%, transparent 90%, #50A385 90%, #50A385 95%, transparent 95%, transparent 100%);
}

.lime:before {
    background: linear-gradient(90deg, #86A338 0%, #86A338 50%, transparent 50%, transparent 100%);
}

.lime.anim:before {
    background: linear-gradient(90deg, #86A338 0%, #86A338 5%, transparent 5%, transparent 10%, #86A338 10%, #86A338 15%, transparent 15%, transparent 20%, #86A338 20%, #86A338 25%, transparent 25%, transparent 30%, #86A338 30%, #86A338 35%, transparent 35%, transparent 40%, #86A338 40%, #86A338 45%, transparent 45%, transparent 50%, #86A338 50%, #86A338 55%, transparent 55%, transparent 60%, #86A338 60%, #86A338 65%, transparent 65%, transparent 70%, #86A338 70%, #86A338 75%, transparent 75%, transparent 80%, #86A338 80%, #86A338 85%, transparent 85%, transparent 90%, #86A338 90%, #86A338 95%, transparent 95%, transparent 100%);
}

.red:before {
    background: linear-gradient(90deg, #A72D39 0%, #A72D39 50%, transparent 50%, transparent 100%);
}

.red.anim:before {
    background: linear-gradient(90deg, #A72D39 0%, #A72D39 5%, transparent 5%, transparent 10%, #A72D39 10%, #A72D39 15%, transparent 15%, transparent 20%, #A72D39 20%, #A72D39 25%, transparent 25%, transparent 30%, #A72D39 30%, #A72D39 35%, transparent 35%, transparent 40%, #A72D39 40%, #A72D39 45%, transparent 45%, transparent 50%, #A72D39 50%, #A72D39 55%, transparent 55%, transparent 60%, #A72D39 60%, #A72D39 65%, transparent 65%, transparent 70%, #A72D39 70%, #A72D39 75%, transparent 75%, transparent 80%, #A72D39 80%, #A72D39 85%, transparent 85%, transparent 90%, #A72D39 90%, #A72D39 95%, transparent 95%, transparent 100%);
}

.orange:before {
    background: linear-gradient(90deg, #A95626 0%, #A95626 50%, transparent 50%, transparent 100%);
}

.orange.anim:before {
    background: linear-gradient(90deg, #A95626 0%, #A95626 5%, transparent 5%, transparent 10%, #A95626 10%, #A95626 15%, transparent 15%, transparent 20%, #A95626 20%, #A95626 25%, transparent 25%, transparent 30%, #A95626 30%, #A95626 35%, transparent 35%, transparent 40%, #A95626 40%, #A95626 45%, transparent 45%, transparent 50%, #A95626 50%, #A95626 55%, transparent 55%, transparent 60%, #A95626 60%, #A95626 65%, transparent 65%, transparent 70%, #A95626 70%, #A95626 75%, transparent 75%, transparent 80%, #A95626 80%, #A95626 85%, transparent 85%, transparent 90%, #A95626 90%, #A95626 95%, transparent 95%, transparent 100%);
}

.hr:before {
    background-size: 15px;
    background-position: center;
    z-index: 1;
}

.hr:after {
    background: linear-gradient(to right, #62efab 5%, #f2ea7d 15%, #f2ea7d 25%, #ff8797 35%, #ff8797 45%, #e1a4f4 55%, #e1a4f4 65%, #82fff4 75%, #82fff4 85%, #62efab 95%);
    transition: opacity 0.3s ease, animation 0.3s ease;
    background-size: 200%;
    background-position: 0%;
    animation: bar 15s linear infinite;
}

@keyframes bar {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 200%;
    }
}

.hr.anim:before {
    background-size: 150px;
    background-position: center;
    z-index: 1;
    animation: bar 60s linear infinite;
}

.hr.anim:hover:before {
    animation-duration: 20s;
}

.hr.anim:hover:after {
    animation-duration: 2s;
}

.swiper-container {
    width: 480px;
}

@media screen and (min-width: 640px) {
    .swiper-container {
        width: 640px;
    }
}

@media screen and (min-width: 768px) {
    .swiper-container {
        width: 768px;
    }
}


